{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks", "react-refresh", "check-file"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "react/prop-types": "off",
    "no-console": "warn",
    "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],

    "check-file/folder-naming-convention": [
      "error",
      { "src/**/": "KEBAB_CASE" }
    ],
    "check-file/filename-naming-convention": [
      "error",
      {
        "src/**/!(*main|*vite-env)*.tsx": "PASCAL_CASE",
        "src/**/!(*vite-env)*.ts": "CAMEL_CASE"
      },
      { "ignoreMiddleExtensions": true }
    ],

    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": ["camelCase", "UPPER_CASE", "PascalCase"],
        "leadingUnderscore": "allow"
      },
      {
        "selector": "variable",
        "modifiers": ["const", "exported"],
        "types": ["function"],
        "format": ["camelCase", "PascalCase"]
      },
      {
        "selector": "function",
        "format": ["camelCase", "PascalCase"]
      },
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      },
      {
        "selector": "enumMember",
        "format": ["UPPER_CASE"]
      }
    ]
  }
}
