:root {
  /* 그레이스케일 */
  --color-white: #ffffff;
  --color-gray-100: #f4f6f8;
  --color-gray-200: #e2e4e8;
  --color-gray-400: #a9acb2;
  --color-gray-600: #666b76;
  --color-gray-800: #343841;
  --color-gray-900: #202227;
  --color-black: #1a1a1a;

  /* 메인 컬러 */
  --color-main: #4f5bff;
  --color-main-variant1: #5e82f7;
  --color-main-variant2: #3f49de;

  /* 시맨틱 컬러 */
  --color-error: #f24b4b;
  --color-success: #42c563;
  --color-warning: #f2ce4b;

  /* 타이포그래피 */
  --font-family:
    'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --letter-spacing: -0.02em;
  --line-height: 1.5;

  /* 폰트 크기 */
  --font-size-caption: 0.75rem;
  --font-size-body-s: 0.875rem;
  --font-size-body-m: 1rem;

  /* 폰트 굵기 */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

/* XXX: 다크 모드에서는 라이트 모드의 색상을 반전시켰습니다. */
[data-theme='dark'] {
  /* 그레이스케일 */
  --color-white: #1a1a1a;
  --color-gray-100: #202227;
  --color-gray-200: #343841;
  --color-gray-400: #666b76;
  --color-gray-600: #a9acb2;
  --color-gray-800: #e2e4e8;
  --color-gray-900: #f4f6f8;
  --color-black: #ffffff;

  /* 메인 컬러 */
  --color-main: #4f5bff;
  --color-main-variant1: #5e82f7;
  --color-main-variant2: #3f49de;

  /* 시맨틱 컬러 */
  --color-error: #f24b4b;
  --color-success: #42c563;
  --color-warning: #f2ce4b;
}
